# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django 项目
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
static/
logs/

# Pycharm 配置
.idea/
*.iml
*.iws
*.ipr

# 虚拟环境
venv/
ENV/
env/
.env/

# 系统文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db